
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Playfair+Display');

body {
  background-color: #e6e6e6;
	font-family: 'Montserrat', sans-serif;
}

.input{
	width: 300px;
	margin: 0 auto;

}

.output{
	display:none;

	background-color: #fff;
	padding: 15px;
	width: 300px;
	margin: 0 auto;

	table{
		display: inline-block;
		width: 100%;
		overflow: hidden;
	}

	img{
		margin-bottom: 25px;
	}

	#referenceImage{
		width: 100%;
		img{
			width: 100%;
		}
	}
	#lipstick{
		width: 45%;

		img{
			width: 100%;
		}
	}
	#productDetails{
		width: 55%;
		float: right;
		margin-top: -148px;
	}
	#productName{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
		margin: 0;
	}

	h1{
		font-family:'Playfair Display', serif;
		size: 19px;
		margin: 0;
	}

	h2{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 16px;
	}

	#buyBtn, #refreshBtn{
		background-color: #da5d5d;
		padding: 5px;
		overflow: hidden;
		text-align: center;
		a{
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 300;
		}
	}

	#refreshBtn{
		margin-top: 5px;
		background-color: #e6e6e6;
		a{color: gray;}
	}

}
