@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Playfair+Display");
body {
  background-color: #e6e6e6;
  font-family: 'Montserrat', sans-serif; }

.input {
  width: 300px;
  margin: 0 auto; }

.output {
  display: none;
  background-color: #fff;
  padding: 15px;
  width: 300px;
  margin: 0 auto; }
  .output table {
    display: inline-block;
    width: 100%;
    overflow: hidden; }
  .output img {
    margin-bottom: 25px; }
  .output #referenceImage {
    width: 100%; }
    .output #referenceImage img {
      width: 100%; }
  .output #lipstick {
    width: 45%; }
    .output #lipstick img {
      width: 100%; }
  .output #productDetails {
    width: 55%;
    float: right;
    margin-top: -148px; }
  .output #productName {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0; }
  .output h1 {
    font-family: 'Playfair Display', serif;
    size: 19px;
    margin: 0; }
  .output h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px; }
  .output #buyBtn, .output #refreshBtn {
    background-color: #da5d5d;
    padding: 5px;
    overflow: hidden;
    text-align: center; }
    .output #buyBtn a, .output #refreshBtn a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300; }
  .output #refreshBtn {
    margin-top: 5px;
    background-color: #e6e6e6; }
    .output #refreshBtn a {
      color: gray; }

/*# sourceMappingURL=main.css.map */
