<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Lipstick Color Match</title>
    <script src="bower_components/jQuery/dist/jquery.min.js" type="text/javascript"></script>

<!--     <link rel="stylesheet" type="text/css" href="bower_components/dropzone/dist/min/basic.min.css">
 -->    <link rel="stylesheet" type="text/css" href="style/dropzone.css">

    <link rel="stylesheet" type="text/css" href="style/main.css">
  </head>

  <body>
    <div class="wrapper">
      <div class="input">
        <form id="upload" 
              method="post" 
              action="/upload" 
              class="dropzone">
        </form>
      </div>
      <div class="output">
      </div>
    </div>

  </body>

  <!--scripts-->
  <script id="result_template" type="text/x-handlebars-template">
      <div>
        <div id="referenceImage">
          <img src={{referenceImage}}>
        </div>
        <div id="lipstick">
          <img src={{url}}>
        </div>
        <div id="productDetails">
          <p id="productName">Colour Riche</p>
          <h1>Lipcolour</h1>
          <h2>{{name}}</h2>
        </div>
      </div>
      <div id="buyBtn">
        <a href={{purchaseUrl}} target="_blank">Buy it</a>
      </div>
      <div id="refreshBtn">
        <a href=".">start over</a>
      </div>
  </script>

  <script src="bower_components/dropzone/dist/min/dropzone.min.js" type="text/javascript"></script>
  <script src="bower_components/handlebars/handlebars.min.js" type="text/javascript"></script>
  <script src="main.js" type="text/javascript"></script>

</html>
